<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/bootstrap/js/bootstrap-select.min.js"></script>

    <title>上传</title>
</head>


<body>
    <!--<select id="slpk" class="selectpicker" data-live-search="true" multiple></select>-->

    <div class="form-group">
        <div class="col-sm-4">
            <select name="area" id="area" class="selectpicker" data-style="btn-primary" data-live-search="true">
                <option value="1">广东省</option>
                <option value="2">广西省</option>
                <option value="3">福建省</option>
                <option value="4">湖南省</option>
                <option value="5">山东省</option>
            </select>
        </div>
    </div>
</body>

<script>
    function getList(){
        
    }
</script>

</html>