<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/bootstrap/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/bootstrap/js/bootstrap-select.min.js"></script>

    <title>上传</title>
</head>


<body>


    <select name="speci" id="speci" class="selectpicker" data-style="btn-primary" data-live-search="true">
        {{range $k,$v := .specis}}
        <option value={{$k}}>{{$v}}</option>
        {{end}}
    </select>




    <select name="variety" id="variety" class="selectpicker" data-style="btn-primary" data-live-search="true">
        {{range $k,$v := .varis}}
        <option value={{$k}}>{{$v}}</option>
        {{end}}
    </select>
    
</div>
    </div>
</body>

<script>
    function getValues() {
        var sval = $("#speci").val();
        $.ajax({
            type:"get",
            url:"url",
            data:{"speci":sval},
            error:function(){
            },
            success:function(){
            },
        })
        
    }
</script>

</html>