<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <title>宠物寄养</title>
  <link rel="stylesheet" href="static/css/listitem.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

      <script type="text/javascript" src="static/bootstrap/js/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="static/js/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="static/js/pageNav.js"></script>
      <script type="text/javascript" src="static/js/jquery.date_input.pack.js"></script> 
      <script src="http://www.jq22.com/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/head.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?03d04e4c7f9c2eee1db2549754958821";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script> 
  <script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'bd16d1532a651977']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
</head>
<body>
  </header>
  <div class="cform" style="margin-top: 50px;margin-left: 400px">
    <div class="coverform">
      <div class="formtop">
        <div class="form-city">
          <h1 class='form-city-p' hidden>寄养地区</h1>
          <img src="http://viptail.image.alimmdn.com/files/official_web/img/home_icon_dingwei.png" class="formicon" />
          <select name="province" id="province">
            <option value="0" style="color:#ccc;">请选择地区</option>
            <option value="1">萧山</option>
            <option value="2">西湖</option>
            <option value="3">江干</option>
            <option value="4">上城</option>
            <option value="5">余杭</option>
            <option value="6">滨江</option>
            <option value="7">建德</option>
            <option value="8">富阳</option>
            <option value="9">临安</option>
            <option value="10">桐庐</option>
            <option value="11">淳安</option>
             </select>
          <img src="http://viptail.image.alimmdn.com/files/official_web/img/home_select_expand.png" class="phoneshow">
        </div>
        <div class="form-pettype" style="margin-left: 200px;margin-top: -25px">
          <h1 class='form-pettype-p' hidden>宠物类型</h1>
          <img src="http://viptail.image.alimmdn.com/files/official_web/img/home_icon_chongwuleixing.png" class="formicon" >
          <select>
            <option style="color:#ccc" value="0">请选择宠物类型</option>
            <option value="小型犬">小型犬</option>
            <option value="中型犬">中型犬</option>
            <option value="大型犬">大型犬</option>
            <option value="猫咪">猫咪</option>
            <option value="小宠">小宠</option>
          </select>
          <img src="http://viptail.image.alimmdn.com/files/official_web/img/home_select_expand.png" class="phoneshow">
        </div>
        <div class="form-sex" style="margin-left: 430px;margin-top: -35px">
          <h1 class='form-sex-p' hidden>宠物昵称</h1>
          <img src="http://viptail.image.alimmdn.com/files/official_web/img/home_icon_chongwunicheng.png" class="formicon" >
          <input type="text" name="name" placeholder="请填写宠物昵称" id="petname">
        </div>
      </div>
      <div class="formbottom" style="margin-top: 20px">
        <div class="form-time">
        <thead>
          <tr>
            <th>寄养时间
              <input type="text" class="span2" value="" id="dpd1">
            </th>
            <th>至
              <input type="text" class="span2" value="" id="dpd2">
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/foundation-datepicker.js"></script>
    <script src="static/js/locales/foundation-datepicker.zh-CN.js"></script>   
    <script>
    $('#demo-1').fdatepicker();
    $('#demo-2').fdatepicker({
      format: 'yyyy-mm-dd hh:ii',
      pickTime: true
    });
    $('#demo-3').fdatepicker();

    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var checkin = $('#dpd1').fdatepicker({
      onRender: function (date) {
        return date.valueOf() < now.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function (ev) {
      if (ev.date.valueOf() > checkout.date.valueOf()) {
        var newDate = new Date(ev.date)
        newDate.setDate(newDate.getDate() + 1);
        checkout.update(newDate);
      }
      checkin.hide();
      $('#dpd2')[0].focus();
    }).data('datepicker');
    var checkout = $('#dpd2').fdatepicker({
      onRender: function (date) {
        return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
      }
    }).on('changeDate', function (ev) {
      checkout.hide();
    }).data('datepicker');
    </script>
        </div>
        <div class="form-phone" style="margin-top: 20px">
          <span class="pc">电话号码</span>
          <input id="phone" type="text" maxlength="11" onKeyUp="this.value=this.value.replace(/[^0-9]+/g,'')" oninput="this.value=this.value.replace(/[^0-9]+/g,'')" placeholder="请填写您的电话号码">
		  <br/>
		  <br/>
		 寄养报酬 <input id="pay" type="text" placeholder="请填写金额"/> 元
        </div>
        <button id="submitjiyang" class="btn-submit" style="margin-left: 250px;margin-top: 20px">发布寄养</button>
      </div>
    </div>
  </div>
  <div class="jy-fabu" style="position:relative;">
    <ul class="jy-xinxi" style="margin-top: 100px;float: left; font-family: "Microsoft YaHei";color:#333;font-size: 12px;">
    <div class="side" style="margin-left:150px;border:1px solid yellow;">
        <li class="list-item1" style="display: inline-block;padding-left: 10px;padding-top:10px;padding-bottom: 10px;">
                <a href="static/jiyangxiangxi.html" target="_blank" title="布偶猫" class="thumbnail"> 
                <div class="img-backgound">                                                    
                        <img src="static/images/M-5c765149-a630-4695-8415-7206d5a0fdc7.jpg" alt="" title="">
                    </div>   
                    <h3 style="color:#3b3b3b;font-size: 15px;font-family: 宋体;margin-top: 3px">布偶猫   喵喵 寄养十天</h3> 
                </a>
                <div class="line1" >
                 <a href="static/xiangxi1.html" class="collect">收藏  <span><i class="fa fa-heart-o"></i></span></a>
                 <a href="static/jiyangxiangxi.html" class="detail">详情  <span><i class="fa fa-link"></i></span></a>                 
                </div>
                 <div class="line2"><i class="fa fa-map-marker"></i> 所在地：下沙</div> 
        </li>
        <li class="list-item2" style="display: inline-block;">
                <a href="http://hz.uchong315.com/mao/212" target="_blank" title="" class="thumbnail">     
                    <div class="img-backgound">                                               
                        <img src="static/images/gaitubao_com_15141136409513.jpg" alt="" title="">
                    </div>
                    <h3 style="color:#3b3b3b;font-size: 15px;font-family: 宋体;margin-top: 3px" >哈士奇   二傻 寄养半个月</h3>
                </a>
                <div class="line1" >
                 <a href="#" class="collect">收藏  <span><i class="fa fa-heart-o"></i></span></a>
                 <a href="#" class="detail">详情  <span><i class="fa fa-link"></i></span></a>                 
                </div>
                 <div class="line2"><i class="fa fa-map-marker"></i> 所在地：西湖区</div> 
        </li>
        <li class="list-item3" style="display: inline-block;">
                <a href="http://hz.uchong315.com/mao/211" target="_blank" title="" class="thumbnail">     
                    <div class="img-backgound">                                                 
                        <img src="static/images/gaitubao_com_15141139573924.jpg" alt="" title="">
                    </div>
                    <h3 style="color:#3b3b3b;font-size: 15px;font-family: 宋体;margin-top: 3px">博美犬 莎莎 寄养一个星期</h3>
                </a>
                <div class="line1" >
                 <a href="#" class="collect">收藏  <span><i class="fa fa-heart-o"></i></span></a>
                 <a href="#" class="detail">详情  <span><i class="fa fa-link"></i></span></a>                 
                </div>
                 <div class="line2"><i class="fa fa-map-marker"></i> 所在地：下沙</div> 
        </li>
        <li class="list-item4" style="display: inline-block;padding-right: 10px">
                <a href="http://hz.uchong315.com/mao/210" target="_blank" title="" class="thumbnail">     
                    <div class="img-backgound">
                                                                            
                        <img src="static/images/jinmao.jpg" alt="" title="">
                    </div>
                    <h3 style="color:#3b3b3b;font-size: 15px;font-family: 宋体;margin-top: 3px">金毛犬 大黄 寄养三天 </h3>
                </a>
                <div class="line1" >
                 <a href="#" class="collect">收藏  <span><i class="fa fa-heart-o"></i></span></a>
                 <a href="#" class="detail">详情  <span><i class="fa fa-link"></i></span></a>                 
                </div>
                 <div class="line2"><i class="fa fa-map-marker"></i> 所在地：上城区</div> 
        </li>
        <nav aria-label="Page navigation" class="page-nav-outer" style="padding-left: 350px;padding-top: 50px" id="PageNavId"></nav>

        <script type="text/javascript">
            var pageNavObj = null;//用于储存分页对象
            pageNavObj = new PageNavCreate("PageNavId",{
                 pageCount:30, 
                 currentPage:1, 
                 perPageNum:5, 
            });
            pageNavObj.afterClick(pageNavCallBack);

            function pageNavCallBack(clickPage){
                pageNavObj = new PageNavCreate("PageNavId",{
                     pageCount:30, 
                     currentPage:clickPage, 
                     perPageNum:5, 
                });
                pageNavObj.afterClick(pageNavCallBack);
            }
        </script>
    </div>
 
  </ul>
   </div>
  
  <div class="daily" style="padding-left:200px;padding-top: 500px;padding-right: 200px">
     <h1 style="font-size: 30px;text-align: center;color: #3b3b3b;font-family: 宋体">寄养注意点</h1>
     <div class="zhuyi1" style="border:1px solid yellow;background:#ffffff ">
    <form>
     <fieldset>
     <legend>寄养需要携带哪些东东？</legend>
     <h1 style="font-size: 15px;color: #3b3b3b;font-family: 宋体;padding: 5px">还没有过寄养经验的粑粑麻麻，一定会有这个疑问：寄养需要携带哪些东东？今天来给你们详细讲讲哈</h1> 
     <h1 style="font-size: 15px;color: #3b3b3b;font-family: 宋体;padding: 5px">1.重中之重：牵引绳！请在交予寄养家庭之前，仔细检查牵引绳是否牢固，尤其是具有胆小认生属性的狗狗！这很重要！我遇到过主人刚走，狗狗就挣脱掉牵引绳去追主人的事情，非常危险，所以请不要不当回事！</h1>
     <h1 style="font-size: 15px;color: #3b3b3b;font-family: 宋体;padding: 5px">2.饮食方面：狗粮、零食、营养品。有特殊需求的提前说明，可完全按照主人的要求去喂。如无特殊要求，将和我家狗狗一样喂法，1天2顿饭，添加我家狗狗用的营养品，一起吃我自制的零食。奶狗建议携带自己的营养品。</h1>
     <h1 style="font-size: 15px;color: #3b3b3b;font-family: 宋体;padding: 5px">3.建议携带：少量喜欢的玩具；习惯的磨牙用品；认碗的请带上碗；认生的携带一件主人的衣服（最近没洗过的）；幼犬或会在家大小便的还请带上尿垫（家中提供狗厕所）。</h1>
     <h1 style="font-size: 15px;color: #3b3b3b;font-family: 宋体;padding: 5px">4.其他：如有特殊要求的请告知，携带好相关物品（例如需要每天滴耳油、需要洗眼睛、需要处理伤口、需要某天做体内/体外驱虫或其他特殊照顾等等）。</h1>
     </fieldset>
   </form>
     </div>
  </div>
</body>
<script type="text/javascript" src="static/js/bottom.js"></script>
</html>
