<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>上传宠物信息</title>
    <script type="text/javascript" src="static/js/head.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#bt").click(function () {
                if ($("#tel").val() == "") {
                    alert("邮箱不能为空");
                    return false;
                }
                var tel = $("#tel").val();
                if (!tel.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}"
{
                        alert("请输入正确的手机号码！");
   $("#tel").focus();
                    }
 })
        })
    </script>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #F7F7F7;
        font-family: '汉仪大隶书繁';
    }

    form {
        max-width: 640px;
        width: 100%;
        margin: 24px auto;
        font-size: 28px;
    }

    label {
        display: block;
        margin: 10px 10px 15px;
        font-size: 15px;
    }

    input {
        display: block;
        width: 100%;
        height: 35px;
        font-size: 15px;
        margin-top: 10px;
        padding: 6px 10px;
        color: #333;
        border: 1px solid #CCC;
        box-sizing: border-box;
    }

    meter,
    progress {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .btn {
        margin-top: 30px;
    }

    .btn input {
        color: #FFF;
        background-color: green;
        border: 0 none;
        outline: none;
        cursor: pointer;
    }
</style>

<body>
    <form action="">
        <fieldset>
            <legend>发布宠物信息</legend>
            <label for="">
                <select name="area" id="area" onchange="twopro()">
                    <option value="">--地区--</option>
                    <option value="1">萧山</option>
                    <option value="2">西湖</option>
                    <option value="3">江干</option>
                    <option value="4">上城</option>
                    <option value="5">余杭</option>
                    <option value="6">滨江</option>
                    <option value="7">建德</option>
                    <option value="8">富阳</option>
                    <option value="9">临安</option>
                    <option value="10">桐庐</option>
                    <option value="11">淳安</option>
                </select>

                <select name="variety" id="variety" style="margin-left: 50px">
                    <option value="">--品种--</option>
                    <option value="藏獒">藏獒</option>
                    <option value="古牧">古牧</option>
                    <option value="阿拉斯加">阿拉斯加</option>
                    <option value="大白熊">大白熊</option>
                    <option value="金毛">金毛</option>
                    <option value="罗威纳">罗威纳</option>
                    <option value="圣伯纳">圣伯纳</option>
                    <option value="大麦町">大麦町</option>
                    <option value="拉布拉多">拉布拉多</option>
                    <option value="杜宾">杜宾</option>
                    <option value="苏牧">苏牧</option>
                    <option value="德牧">德牧</option>
                    <option value="边牧">边牧</option>
                    <option value="高加索">高加索</option>
                    <option value="灵缇">灵缇</option>
                    <option value="萨摩">萨摩</option>
                    <option value="京巴">京巴</option>
                    <option value="巴哥">巴哥</option>
                    <option value="约克夏">约克夏</option>
                    <option value="西高地">西高地</option>
                    <option value="泰迪熊">泰迪熊</option>
                    <option value="腊肠">腊肠</option>
                    <option value="比熊">比熊</option>
                    <option value="比格">比格</option>
                    <option value="雪纳瑞">雪纳瑞</option>
                    <option value="西施">西施</option>
                    <option value="银狐">银狐</option>
                    <option value="吉娃娃">吉娃娃</option>
                    <option value="博美">博美</option>
                    <option value="蝴蝶">蝴蝶</option>
                    <option value="哈士奇">哈士奇</option>
                    <option value="贵宾">贵宾</option>
                    <option value="斗牛">斗牛</option>
                    <option value="喜乐蒂">喜乐蒂</option>
                    <option value="可卡">可卡</option>
                    <option value="柯基">柯基</option>
                    <option value="松狮">松狮</option>
                    <option value="沙皮">沙皮</option>
                    <option value="阿富汗">阿富汗</option>
                    <option value="其他">其他</option>
                </select>

                <select name="xuetong" id="xuetong" style="margin-left: 50px">
                    <option value="" selected>--血统证明--</option>
                    <option value="无">无血统证明</option>
                    <option value="有">有血统证明</option>
                </select>

                <select name="xingbie" id="xingbie" style="margin-left: 50px">
                    <option value="" selected>--性别--</option>
                    <option value="公">公</option>
                    <option value="母">母</option>
                </select>

            </label>

            <label for="" method="post" onsubmit="return check_name()">
                标题:
                <input type="text" required autofocus placeholder="请输入标题">
            </label>
            <label for="" onsubmit="return check_name()">
                联系人:
                <input id="name" type="name" placeholder="请输入联系人">
            </label>
            <label for="">
                手机号:
                <input id="tel" type="tel" placeholder="请输入联系电话">
                <script>function checkme(obj) {
                        var val = obj.value();
                        var mobilevalid = /^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/;
                        if (!mobilevalid.test(val)) {
                            alert('请输入正确的手机号码！')
                            return false;
                        }
                </script>
            </label>
            <label for="">
                宠物年龄:
                <input type="age" placeholder="请输入年龄">
            </label>
            <label for="">
                备注:
                <input type="age" placeholder="提交内容中不能有非法内容">
            </label>
            <label>
                <td width='16%' height=20 bgcolor='ffffff' align='right'>照片1：</td>
                <td bgcolor='ffffff'>
                    <input type="file" name="zhaopian1file" size="20" accept="image/*"> </td>
            </label>
            <label for="">
                <td width='16%' height=25 bgcolor='ffffff' align='right'>照片2：</td>
                <td bgcolor='ffffff'>
                    <input type="file" name="zhaopian2file" size="20" accept="image/*"> </td>
            </label>
            <label for="">
                <td width='16%' height=25 bgcolor='ffffff' align='right'>照片3：</td>
                <td bgcolor='ffffff'>
                    <input type="file" name="zhaopian3file" size="20" accept="image/*"> 图片大小限100K 超过无法上传 图宽不超650像素</td>
            </label>
            <td>
                <input type="submit" id="bt" value=" 提 交 " class="inputbtn">
            </td>
        </fieldset>
    </form>
    <script>
                            function twopro() {
                                var obj = document.getElementById("area");
                                var strpro = obj.options[obj.selectedIndex].text;
                                document.getElementById("pro").value = strpro;
                            };

</div >


</body >
</html >