.list-row li.list-item {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #f1f1f1;
    height: 362px;
    padding: 1px 1px 10px;
    position: relative;
}
.list-row{
    display: inline-block;
}
.row-fluid .span6 {
    width: 23.4%;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 30px;
    margin-left: 2.13%;
}
.list-row li.list-item a.thumbnail h3 {
    color: #222;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 10px;
    width: 268px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
}
.list-row li.list-item .line1 {
    color: #0F0F0F;
    font-size: 18px;
    padding-top:0px;
    padding-left:10px;
    float: left;
}
.list-row li.list-item .line2 {
float: right;
color: #999;
padding-top: 30px;
}
.list-row li.list-item a.thumbnail .img-backgound img {
    width: 100%;
    height: 216px;
    transition: -webkit-transform .5s;
    transition: transform .5s;
}
.list-row li.list-item a.thumbnail .tags-box {
    overflow: hidden;
    float: left;
}
.list-row li.list-item a.thumbnail .img-backgound {
    overflow: hidden;
    position: relative;
}
.list-row li.list-item {
    list-style: none;
}
.sxp_wk {
    width: 50px;
    border-radius: 10px 0px 0px 0px;
    background: #3385ff;
    position: absolute;
    color: #fff;
    text-align: center;
    right: 0px;
    bottom: 3px;
    display: block;
    height: 20px;
    line-height: 20px;
}
.pages span.now_page {
    background: #ff3300;
    margin: 10px 0px 0px -1px;
    color: #FFF;
}
.pages a, .pages span {
    display: inline-block;
    padding: 8px 14px;
    margin: 10px 5px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
}
.pages a, .pages li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #444;
}